:root{
    --font-base: 'Lobster', cursive;
    --font-color: hsl(160, 55%, 55%);
    --font-shadow: 5px 0 hsl(214, 17%, 16%);
  }
  
  .container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: hsl(217, 10%, 25%);
  }
  
  h1 {
    margin: 30px;
    font-family: var(--font-base);
    color: var(--font-color);
    text-shadow: var(--font-shadow);
    font-size: 8rem;
    
  }
  
  h4 {
    font-family: var(--font-base);
    color: var(--font-color);
    text-shadow: 2px 0 hsl(214, 17%, 16%);
  }
  
  p {
    font-size: 2rem;
    color: var(--font-color);
    font-family: var(--font-base);
  }
  
  img {
    width: 80%;
  }
  
  h3{
    text-align: center;
    color: var(--font-color);
    text-shadow: 2px 0 hsl(214, 17%, 16%);
  }
  
  .container-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button{
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    cursor: pointer;
    color: hsl(0, 0%, 8%);
    background-color: hsl(160, 55%, 55%);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 140px;
    margin: 10px;
  }
  
  button:hover{
    background-color: hsl(160, 100%, 75%);
  }
  
  footer {
    margin-top: 5%;
    color: hsl(0, 0%, 93%);
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  
  @media screen and (max-width: 420px){
    h1{
      font-size: 5rem;
    }
  
    h4{
      font-weight: bold;
    }
  
    .container-bottom{
      display: flex;
      flex-flow: column nowrap;
    }
  
    button{
      height: 70px;
      width: 170px;
    }
  }
  
  @media screen and (max-width: 790px){
    button{
      height: 60px;
      width: 160px;
    }
  }